In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
data ={'date':['2018-01-01','2018-02-01',
'2018-03-01', '2018-04-01',
'2018-05-01', '2018-06-01',
'2018-01-01', '2018-02-01',
'2018-03-01', '2018-04-01',
'2018-05-01', '2018-06-01'],
'visitors': [35,30,82,26,
83, 46,40,57,95,57,87,42]}

In [3]:
df =pd.DataFrame(data,
columns=['date', 'visitors'])

In [4]:
df.head()

         date  visitors
0  2018-01-01        35
1  2018-02-01        30
2  2018-03-01        82
3  2018-04-01        26
4  2018-05-01        83

In [5]:
df.dtypes

date        object
visitors     int64
dtype: object

In [6]:
df.set_index('date', inplace=True)
df.sort_index(inplace=True)

In [7]:
df.head()

            visitors
date
2018-01-01        35
2018-01-01        40
2018-02-01        30
2018-02-01        57
2018-03-01        82

In [8]:
df.groupby('date').count()

            visitors
date
2018-01-01         2
2018-02-01         2
2018-03-01         2
2018-04-01         2
2018-05-01         2
2018-06-01         2

In [9]:
df.truncate(after='2018-03-01')

            visitors
date
2018-01-01        35
2018-01-01        40
2018-02-01        30
2018-02-01        57
2018-03-01        82
2018-03-01        95

In [10]:
df.groupby('date').describe()

           visitors
              count  mean        std   min    25%   50%    75%   max
date
2018-01-01      2.0  37.5   3.535534  35.0  36.25  37.5  38.75  40.0
2018-02-01      2.0  43.5  19.091883  30.0  36.75  43.5  50.25  57.0
2018-03-01      2.0  88.5   9.192388  82.0  85.25  88.5  91.75  95.0
2018-04-01      2.0  41.5  21.920310  26.0  33.75  41.5  49.25  57.0
2018-05-01      2.0  85.0   2.828427  83.0  84.00  85.0  86.00  87.0
2018-06-01      2.0  44.0   2.828427  42.0  43.00  44.0  45.00  46.0

In [11]:
pd.date_range('2018-05-30', '2018-06-02')

DatetimeIndex(['2018-05-30', '2018-05-31', '2018-06-01', '2018-06-02'], dtype='datetime64[ns]', freq='D')

In [12]:
pd.date_range('2018-05-30', periods=4)

DatetimeIndex(['2018-05-30', '2018-05-31', '2018-06-01', '2018-06-02'], dtype='datetime64[ns]', freq='D')

In [13]:
pd.date_range('2018-05-30', periods=4,freq='M')

DatetimeIndex(['2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31'], dtype='datetime64[ns]', freq='M')

In [14]:
from numpy.random import randn
idx =pd.date_range('2018-06-04 00:00:00',
periods=4)
cols = ['A','B','C','D']

In [15]:
data =randn(len(idx),len(cols))

In [16]:
df =pd.DataFrame(data=data, index=idx, columns=cols)
df.index.name='date'

In [17]:
print(df)

                   A         B         C         D
date
2018-06-04 -0.395226 -1.096906 -0.428311  1.539486
2018-06-05  0.194722  0.127821  0.131383  1.997384
2018-06-06  0.372136  1.236560  0.812020  1.707825
2018-06-07  0.910912 -0.340193  0.852434  0.435796

In [18]:
df.reset_index(inplace=True)

In [19]:
melted=pd.melt(df,id_vars='date',
var_name='feature',
value_name='reading')

In [20]:
print(melted)

         date feature   reading
0  2018-06-04       A -0.395226
1  2018-06-05       A  0.194722
2  2018-06-06       A  0.372136
3  2018-06-07       A  0.910912
4  2018-06-04       B -1.096906
5  2018-06-05       B  0.127821
6  2018-06-06       B  1.236560
7  2018-06-07       B -0.340193
8  2018-06-04       C -0.428311
9  2018-06-05       C  0.131383
10 2018-06-06       C  0.812020
11 2018-06-07       C  0.852434
12 2018-06-04       D  1.539486
13 2018-06-05       D  1.997384
14 2018-06-06       D  1.707825
15 2018-06-07       D  0.435796

In [21]:
melted.set_index('date', inplace=True)
melted.sort_index(inplace=True)

In [22]:
print(melted)

           feature   reading
date
2018-06-04       A -0.395226
2018-06-04       B -1.096906
2018-06-04       C -0.428311
2018-06-04       D  1.539486
2018-06-05       A  0.194722
2018-06-05       B  0.127821
2018-06-05       C  0.131383
2018-06-05       D  1.997384
2018-06-06       A  0.372136
2018-06-06       B  1.236560
2018-06-06       C  0.812020
2018-06-06       D  1.707825
2018-06-07       A  0.910912
2018-06-07       B -0.340193
2018-06-07       C  0.852434
2018-06-07       D  0.435796